---
layout: layouts/home.njk
eleventyNavigation:
  key: Cooking
  order: 2
---


{% set postslist = collections.cooking %}
{% set postslistCounter = collections.cooking | length %}
{% include "projectlist.njk" %}

