---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 1
---

{% set postslist = collections.projects %}
{% set postslistCounter = collections.projects | length %}
{% include "projectlist.njk" %}

